
.body-loginbackground{
  background: rgb(255,253,253);
background: linear-gradient(425deg, rgba(255,253,253,0.47102591036414565) 0%,#FFA920 100%);
}
.body-Signbackground{
  background: rgb(255,253,253);
background: linear-gradient(304deg, rgba(255,253,253,0.47102591036414565) 0%,#FFA920 100%);
}
.dashboard-card{
  background: rgb(255,244,230);
  background: linear-gradient(304deg, rgba(255,244,230,0.5019257703081232) 0%, rgba(255,244,230,0.5271358543417367) 97%);
}
@keyframes up-down {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

.animate-up-down {
  animation: up-down 2s infinite;
}

*::-webkit-scrollbar{
  width: 5px;
  height: 3px ;
  background-color: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(184, 183, 183);
  border: 3px solid rgb(184, 183, 183);
  height: 3px ;
  border-radius: 20px;
}

.editor-height{
  padding: 10px;
   border: 1px solid  #f2f2f2;
   min-height: 425px;
   overflow-y: auto;
 }
 .timepicker-control-section {
  max-width: 300px;
  margin: 0 auto;
  padding: 2% 0;
}

.e-bigger .control-pane.default .control-section {
  margin-top: 60px;
}
